<?xml version="1.0" encoding="utf-8"?>
<form>
	<fields>
		<fieldset name="details"
			label="COM_EXTERNALLOGIN_FIELDSET_SERVER_DETAILS_LABEL"
			description="COM_EXTERNALLOGIN_FIELDSET_SERVER_DETAILS_DESC"
		>
			<field
				name="id"
				type="hidden"
			/>

			<field
				name="plugin"
				type="hidden"
				readonly="true"
			/>

			<field
				name="title"
				type="text"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_TITLE_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_TITLE_DESC"
				required="true"
				size="40"
				class="inputbox"
				default=""
			/>

			<field name="published" type="list" label="JSTATUS"
				description="JFIELD_PUBLISHED_DESC" class="inputbox"
				filter="intval" size="1" default="1"
			>
				<option value="1">JPUBLISHED</option>
				<option value="0">JUNPUBLISHED</option>
				<option value="2">JARCHIVED</option>
				<option value="-2">JTRASHED</option>
			</field>
		</fieldset>
	</fields>
	<fields name="params">
		<fieldset name="details"
					label="COM_EXTERNALLOGIN_FIELDSET_SERVER_DETAILS_LABEL"
					description="COM_EXTERNALLOGIN_FIELDSET_SERVER_DETAILS_DESC"
				>
			<field name="autoregister" type="radio"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_AUTOREGISTER_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_AUTOREGISTER_DESC"
				class="inputbox"
				filter="intval"
				default="0"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>

			<field name="autoupdate" type="radio"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_AUTOUPDATE_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_AUTOUPDATE_DESC"
				class="inputbox"
				filter="intval"
				default="0"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>

			<field
				name="allow_change_password"
				type="radio"
				default="0"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_ALLOW_CHANGE_PASSWORD_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_ALLOW_CHANGE_PASSWORD_DESC"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>

			<field
				name="usergroup"
				type="usergroup"
				default=""
				label="COM_EXTERNALLOGIN_FIELD_SERVER_USERGROUP_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_USERGROUP_DESC"
			>
				<option value="">COM_EXTERNALLOGIN_OPTION_SELECT_USERGROUP</option>
			</field>

			<field
				name="regex_user"
				type="text"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_REGEX_USER_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_REGEX_USER_DESC"
				size="40"
				class="inputbox"
				default=""
			/>

			<field
				name="regex_email"
				type="text"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_REGEX_EMAIL_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_REGEX_EMAIL_DESC"
				size="40"
				class="inputbox"
				default=""
			/>

			<field
				name="noredirect"
				type="list"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_NOREDIRECT_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_NOREDIRECT_DESC"
				>
				<option value="">JDEFAULT</option>
				<option value="1">JYES</option>
				<option value="0">JNO</option>
			</field>

			<field
				name="redirect"
				type="menuitem"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_LOGIN_REDIRECTURL_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_LOGIN_REDIRECTURL_DESC"
			>
				<option value="">JDEFAULT</option>
			</field>

			<field
				name="blocked_redirect_menuitem"
				type="menuitem"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_BLOCKED_REDIRECTURL_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_BLOCKED_REDIRECTURL_DESC"
				>
				<option value="">JDEFAULT</option>
			</field>

			<field
				name="incorrect_redirect_menuitem"
				type="menuitem"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_INCORRECT_REDIRECTURL_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_INCORRECT_REDIRECTURL_DESC"
				>
				<option value="">JDEFAULT</option>
			</field>

			<field
				name="unknown_redirect_menuitem"
				type="menuitem"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_UNKNOWN_REDIRECTURL_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_UNKNOWN_REDIRECTURL_DESC"
				>
				<option value="">JDEFAULT</option>
			</field>

	    </fieldset>
    </fields>
	<fields name="params">
		<fieldset
			name="logging"
			label="COM_EXTERNALLOGIN_FIELDSET_SERVER_LOGGING_LABEL"
		>
			<field
				type="spacer"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_SPACER_LABEL"
			/>
			<field
				name="log_user_delete"
				type="radio"
				default="0"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_LOG_USER_DELETE_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_LOG_USER_DELETE_DESC"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field
				name="log_user_change_password"
				type="radio"
				default="0"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_LOG_USER_CHANGE_PASSWORD_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_LOG_USER_CHANGE_PASSWORD_DESC"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field
				name="log_autoregister"
				type="radio"
				default="0"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_LOG_AUTOREGISTER_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_LOG_AUTOREGISTER_DESC"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field
				name="log_blocked"
				type="radio"
				default="0"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_LOG_BLOCKED_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_LOG_BLOCKED_DESC"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field
				name="log_autoupdate"
				type="radio"
				default="0"
				label="COM_EXTERNALLOGIN_FIELD_SERVER_LOG_AUTOUPDATE_LABEL"
				description="COM_EXTERNALLOGIN_FIELD_SERVER_LOG_AUTOUPDATE_DESC"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
		</fieldset>
	</fields>
</form>
