<?xml version="1.0" encoding="utf-8"?>
<extensionset name="External Login" description="External Login">
	<extension
		name="Authentication Manager"
		element="com_externallogin"
		type="component"
		client="administrator"
		version="2.0.0"
		detailsurl="https://github.com/downloads/chdemko/joomla-external-login/update-com_externallogin.xml"
	/>

	<extension
		name="External Login Site Module"
		element="mod_externallogin_site"
		type="module"
		client="site"
		version="2.0.0"
		detailsurl="https://github.com/downloads/chdemko/joomla-external-login/update-mod_externallogin_site.xml"
	/>

	<extension
		name="External Login Admin Module"
		element="mod_externallogin_admin"
		type="module"
		client="administrator"
		version="2.0.0"
		detailsurl="https://github.com/downloads/chdemko/joomla-external-login/update-mod_externallogin_admin.xml"
	/>

	<extension
		name="Authentication - External Login"
		element="externallogin"
		folder="authentication"
		type="plugin"
		version="2.0.0"
		detailsurl="https://github.com/downloads/chdemko/joomla-external-login/update-plg_authentication_externallogin.xml"
	/>

	<extension
		name="System - External Login"
		element="externallogin"
		folder="system"
		type="plugin"
		version="2.0.0"
		detailsurl="https://github.com/downloads/chdemko/joomla-external-login/update-plg_system_externallogin.xml"
	/>

	<extension
		name="System - CAS Login"
		element="caslogin"
		folder="system"
		type="plugin"
		version="2.0.0"
		detailsurl="https://github.com/downloads/chdemko/joomla-external-login/update-plg_system_caslogin.xml"
	/>

	<extension
		name="External Login Admin Template"
		element="externallogin"
		type="template"
		client="administrator"
		version="2.0.0"
		detailsurl="https://github.com/downloads/chdemko/joomla-external-login/update-tpl_externallogin.xml"
	/>

</extensionset>

