<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="redirect" label="COM_EXTERNALLOGIN_CONFIG_BASIC_LABEL" description="COM_EXTERNALLOGIN_CONFIG_BASIC_DESC">

		<field
			name="noredirect"
			type="radio"
			label="COM_EXTERNALLOGIN_CONFIG_FIELD_NOREDIRECT_LABEL"
			description="COM_EXTERNALLOGIN_CONFIG_FIELD_NOREDIRECT_DESC"
			default="0"
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="redirect"
			type="menuitem"
			label="COM_EXTERNALLOGIN_CONFIG_FIELD_LOGIN_REDIRECTURL_LABEL"
			description="COM_EXTERNALLOGIN_CONFIG_FIELD_LOGIN_REDIRECTURL_DESC"
		>
			<option value="">JDEFAULT</option>
		</field>

		<field
			name="logout_redirect_menuitem"
			type="menuitem"
			label="COM_EXTERNALLOGIN_CONFIG_FIELD_LOGOUT_REDIRECTURL_LABEL"
			description="COM_EXTERNALLOGIN_CONFIG_FIELD_LOGOUT_REDIRECTURL_DESC"
			>
			<option value="">JDEFAULT</option>
		</field>

		<field
			name="unauthorized_redirect_menuitem"
			type="menuitem"
			label="COM_EXTERNALLOGIN_CONFIG_FIELD_UNAUTHORIZED_REDIRECTURL_LABEL"
			description="COM_EXTERNALLOGIN_CONFIG_FIELD_UNAUTHORIZED_REDIRECTURL_DESC"
			>
			<option value="">JDEFAULT</option>
			<option value="-1">COM_EXTERNALLOGIN_CONFIG_OPTION_EXTERNALLOGIN</option>
		</field>

	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_externallogin"
			section="component"
		/>
	</fieldset>

</config>

