.icon-48-servers {
	background-image: url(../../images/administrator/icon-48-servers.png);
}

.icon-48-server-edit {
	background-image: url(../../images/administrator/icon-48-server-edit.png);
}

.icon-48-server-new {
	background-image: url(../../images/administrator/icon-48-server-new.png);
}

.icon-48-server-view {
	background-image: url(../../images/administrator/icon-48-servers.png);
}

.icon-48-about {
	background-image: url(../../images/administrator/icon-48-about.png);
}

.icon-32-users-upload {
	background-image: url(../../images/administrator/icon-32-users-upload.png);
}

.icon-32-users-download {
	background-image: url(../../images/administrator/icon-32-users-download.png);
}


