.icon-48-servers {
	background-image: url(../../images/administrator/icon-48-servers.png);
}

.icon-48-server-edit {
	background-image: url(../../images/administrator/icon-48-server-edit.png);
}

.icon-48-server-new {
	background-image: url(../../images/administrator/icon-48-server-new.png);
}

.icon-48-server-view {
	background-image: url(../../images/administrator/icon-48-servers.png);
}

.icon-48-logs {
	background-image: url(../../images/administrator/icon-48-logs.png);
}

.icon-48-about {
	background-image: url(../../images/administrator/icon-48-about.png);
}

.icon-32-users-upload {
	background-image: url(../../images/administrator/icon-32-users-upload.png);
}

.icon-32-users-download {
	background-image: url(../../images/administrator/icon-32-users-download.png);
}

.icon-32-logs-download {
	background-image: url(../../images/administrator/icon-32-logs-download.png);
}

.icon-48-users {
	background-image: url(../../images/administrator/icon-48-users.png);
}

.icon-32-users-disable-joomla {
	background-image: url(../../images/administrator/icon-32-users-disable-joomla.png);
}

.icon-32-users-enable-joomla {
	background-image: url(../../images/administrator/icon-32-users-enable-joomla.png);
}

.icon-32-users-disable-externallogin {
	background-image: url(../../images/administrator/icon-32-users-disable-externallogin.png);
}

.icon-32-users-enable-externallogin {
	background-image: url(../../images/administrator/icon-32-users-enable-externallogin.png);
}

.filter-modal-box {
	padding: 5px 0;
	overflow: hidden;
}

input.text-area-order {
	width: 20px;
}
